@model InmoviliariaSarchioniAlfonzo.Models.Propietario

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar Propietario</h2>

<form asp-action="EditarPropietario" method="post">
    <div class="form-group">
        <label asp-for="Dni" class="control-label">DNI</label>
        <input asp-for="Dni" class="form-control" />
        <span asp-validation-for="Dni" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido" class="control-label">Apellido</label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefono" class="control-label">Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
 <div class="form-group">
        <label asp-for="Direccion" class="control-label">Email</label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Estado_Propietario" class="control-label">Estado</label>
        <input asp-for="Estado_Propietario" class="form-control" />
        <span asp-validation-for="Estado_Propietario" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id_Propietario" />
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="listPropietario" class="btn btn-secondary">Cancelar</a>
</form>
