@model InmoviliariaSarchioniAlfonzo.Models.Pago

@{
    ViewData["Title"] = "Nuevo Pago";
}

<link rel="stylesheet" href="~/fondo/contrato.css" />


<div class="container">
    @if (TempData["Advertencia"] != null)
    {
        <div class="alert alert-warning temp-message">
            @TempData["Advertencia"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger temp-message">
            @TempData["Error"]
        </div>
    }
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h2 class="text-center">@ViewData["Title"]</h2>



                <form asp-action="asdsa" method="post">

                    <div class="form-group">
                        <label asp-for="Id_Contrato" class="control-label">N° de Contrato</label>
                        <input asp-for="Id_Contrato" class="form-control" />
                        <span asp-validation-for="Id_Contrato" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Importe" class="control-label">Importe</label>
                        <input asp-for="Importe" class="form-control" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label">Fecha</label>
                        <input asp-for="Fecha" class="form-control" type="date" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Guardar" class="btn btn-primary " />
                        <a asp-action="ListContVigentes" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
