@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        background-image: url('/images/casa-propia.jpeg');
        background-size: cover;
        background-position: center;
    @*background-repeat:no-repeat;*@background-attachment: fixed;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .text-center,
    p {
        color: rgb(10, 9, 9);
        text-align: center;
        margin-top: revert-layer;
    }
</style>

<div class="text-center">
    <p style="font-size: 10rem"> Bienvenidos</p>
</div>
