@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/images/casa-propia.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .text-center {
        color: rgb(10, 9, 9);
        /* Cambia el color del texto si es necesario para que sea legible sobre la imagen */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
