@using System.Security.Claims
@model InmoviliariaSarchioniAlfonzo.Models.wiewPassword;

@{
    ViewData["Title"] = "CambioPassword";
    var idusuario = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.PrimarySid);
    var Mensaje = ViewBag.Mensaje;
}
<link rel="stylesheet" href="~/fondo/propietario.css" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card-body">
                <h2 class="text-center mb-4">Modificar Contraseña</h2>
                <hr />

                <!-- Mensaje de Advertencia o Éxito -->
                @if (!string.IsNullOrEmpty(Mensaje))
                {
                    <div class="alert alert-info text-center" role="alert">
                        @Mensaje
                    </div>
                }

                <!-- Formulario de Cambio de Contraseña -->
                <form asp-action="CambioPassword" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Campo para contraseña actual -->
                    <div class="form-group">
                        <label class="control-label">Contraseña Actual</label>
                        <input asp-for="PasswordAnterior" type="password" class="form-control"
                            placeholder="Ingresa tu contraseña actual" />
                        <span asp-validation-for="PasswordAnterior" class="text-danger"></span>
                    </div>

                    <!-- Campo para nueva contraseña -->
                    <div class="form-group">
                        <label class="control-label">Nueva Contraseña</label>
                        <input asp-for="PasswordNueva" type="password" class="form-control"
                            placeholder="Ingresa la nueva contraseña" />
                        <span asp-validation-for="PasswordNueva" class="text-danger"></span>
                    </div>

                    <!-- Botones de acción -->
                    <button type="submit" class="btn btn-primary mt-3 btn-lg btn-block">Guardar Cambios</button>
                    <a href='@Url.Action("Index", "Home")' class="btn btn-secondary mt-3 btn-lg btn-block">Volver</a>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
